body {
    background-color: lightgray;
}

#score {
    font-size: 20px;
    margin-left: 10px;
}

#timer {
    font-size: 20px;
    float: right;
    margin-right: 10px;
}

#sketchToDraw {
    color: blue;
}